@model Web.Models.GroupModel

<div class="front">

    <h2>@Model.Name</h2>

    <div class="status">
        <span class="Stopped"></span>
    </div>

    <div class="stopped">

        <div class="duration timer">
            <label>Time:</label>
            <value>@Model.DownTime.Value.ToString(@"dd\.hh\:mm\:ss")</value>
            <input type="hidden" id="stoppedDateTime" value="@Model.StoppedDateTime.Subtract(new DateTime(1970, 1, 1)).TotalMilliseconds" />
        </div>

        <div class="by">
            <label>Stopped By:</label>
            <value>@Model.StoppedBy</value>
        </div>

    </div>

</div>