
@{
    ViewBag.Title = "INVALID SIGN UP";
    Layout = "~/Views/Shared/_LayoutNotLoggedIn.cshtml";
}

<div class="second-column">
    <h1>INVALID SIGN UP</h1>
    <div class="container">
        <p>
            Unfortunately it seems that this sign up link has expired or was never valid. 
            Please ask your account manager to reinvite you. 
        </p>
    </div>

</div>

