@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_LayoutNotLoggedIn.cshtml";
    ViewBag.Title = "ERROR";
}
<div class="second-column">
    <h2>
        <span class="header-error"></span>
        ERROR
    </h2>
    <h1>OOPS!</h1>
    <p>Seems like there was an error... <br />
    <strong>Something went wrong. It happens to the best of us and it's just happend to you!</strong>
    </p>

</div>